header {
    .logo {
        color: white;
        text-decoration: none;
    }
    .header-text {
        padding-right: 25px;
    }

    ::ng-deep .mat-button-toggle {
        color: white;
    }

    .mat-button-toggle-checked {
        color: black;
    }
}