@import '~app/core/common/scss/variables/variables';

table {
    width: 100%;

    th {
        font-weight: bold;
    }

    ::ng-deep .mat-button {
        margin: 0 5px;
    }

    .blue {
        border-color: $navy;
    }

    .yellow {
        border-color: $alert-orange;
    }

    .red {
        border-color: $error-red;
    }

    .action-buttons {
        text-align: center;
    }
}