@import '~app/core/common/scss/variables/variables';

.contact-detail {
    padding-top: 25px;

    span {
        background: #3f51b5;
        color: #ffffff;
        transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
        display: inline-flex;
        padding: 0 12px;
        border-radius: 16px;
        align-items: center;
        cursor: default;
        min-height: 32px;
        height: 1px;
    }

    .blue {
        border-color: $navy;;
    }

    .yellow {
        border-color: $alert-orange;
    }

    .red {
        border-color: $error-red;
    }
}